.user-connected {
    color: white;
    position: absolute;
    right: 20px;
}

.user-connected ul {
    list-style: none;
}

.user-connected li {
    display: inline;
    margin: 0 15px;
}

.dropdown-item button {
    background-color: transparent;
    border: none;
}

.form-logout button {
    width: 100%;
    outline: none;
    border: none;
}

.form-logout button {
    background-color: transparent;
}

.form-logout button:hover {
    background-color: transparent;
}

.myprofile {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .user-connected {
        position: initial;
    }
}