#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

#container h1 {
    margin: 30px 0;
}

.message {
    color: black;
    width: 60%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.103);
    margin: 10px 0;
    padding: 10px;
}

.comments {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 10px;
}

h5 {
    margin: 15px 0;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.103);
}