.create-post {
    width: 60%;
    height: 50px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.055);
    margin: 30px 0 15px 0;
    border: none;
}

.create-post:hover {
    border: 2px solid rgba(0, 0, 0, 0.048);
    border-radius: 5px;
}

.create-post:focus {
    outline: none;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-container {
    overflow-wrap: anywhere;
    position: relative;
}

.container-create-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a-div {
    color: black;
    width: 60%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.a-div:hover {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.pagination-contain {
    display: none;
}

.time-ago {
    float: right;
    margin: 0px 15px;
}

.alert-msg {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.alert {
    display: flex;
    justify-content: center;
    width: 60%;
}


.t-de { /* Titre et message */
    margin-left: 10px;
    margin-top: 5px;
}

.comment-post {
    font-size: 18px;
    margin-left: 10px;
}

.comment-post svg {
    width: 23px;
    vertical-align: sub;
}

@media screen and (max-width: 500px) {
    .create-post {
        width: 100%;
    }
    .a-div {
        width: 100%;
    }
    .alert {
        width: 100%;
    }
}